   <div class="container my-5" style="margin-top: 50px; background-color:white; border-radius: 10px; padding: 20px;">
    <h1 class="mb-3" style="margin-bottom: 20px; color:steelblue;">Login</h1>
    <form #form="ngForm" style="margin-top: 20px;">
      <div class="mb-3">
        <label for="email" class="form-label" style="color:black;">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email"
          >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" style="color: black;">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"
          >
      </div>
  
      <button type="submit" class="btn btn-primary" style="background-color:steelblue;">Submit</button>
    </form>
    <hr style="border-color: steelblue;">
    <h1 class="mb-3" style="margin-top: 20px; margin-bottom: 20px; color: steelblue;">Registration</h1>
    <form #form="ngForm"  style="margin-top: 20px;">
      <div class="mb-3">
        <label for="name" class="form-label" style="color: black;">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
          >
      </div>
      <div class="mb-3">
        <label for="email" class="form-label" style="color: black;">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email"
          >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" style="color: black;">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"
          >
      </div>
  
      <button type="submit" class="btn btn-primary" style="background-color:steelblue;">Submit</button>
    </form>
  </div>
  