<div class="container my-5" style="margin-top: 50px;background-color: white;border-radius: 1rem;">
    <h1 class="mb-3" style="margin-bottom: 20px; color: steelblue;">Add new book</h1>
    <form #form="ngForm" (ngSubmit)="addBook()" style="margin-top: 20px;">
      <div class="mb-3 mt-3">
        <label for="title" class="form-label" style="color: black;">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title"
          [(ngModel)]="addBookRequest.Title">
      </div>
      <div class="mb-3">
        <label for="isbn" class="form-label" style="color: black;">ISBN:</label>
        <input type="text" class="form-control" id="isbn" placeholder="Enter ISBN" name="isbn"
          [(ngModel)]="addBookRequest.ISBN">
      </div>
      <div class="mb-3">
        <label for="author" class="form-label" style="color: black;">Author:</label>
        <input type="text" class="form-control" id="author" placeholder="Enter Author:" name="author"
          [(ngModel)]="addBookRequest.Author">
      </div>
      <div class="mb-3">
        <label for="year" class="form-label" style="color: black;">Year:</label>
        <input type="number" class="form-control" id="year" placeholder="Enter Year:" name="year"
          [(ngModel)]="addBookRequest.Year">
      </div>
  
      <button type="submit" class="btn btn-primary" style="background-color: steelblue;">Submit</button>
    </form>
  </div>
  